%h1 Tasks
%div.content
  %table
    %thead
      %tr
        %th id
        %th title
        %th description
        %th start
        %th end
        %th number
        %th reward
    %tbody
      -@tasks.each do |task|
        %tr
          %td= task.id
          %td= task.title
          %td= task.description
          %td= task.start_date
          %td= task.end_date
          %td= task.number
          %td= task.reward
          %td= link_to 'show', :controller => 'assigned_tasks', :action => 'show', :id => task[:id]
= link_to 'Articles', writers_articles_path
