%div.container
  %div.row
    %div.col-md-10
      %h1= @task[:title]
      %table.table.table-striped.table-bordered
        %body
          - @task.attribute_names.each do |key|
            %tr
              %td= key
              - if key != "status"
                %td= @task[key] 
              - else 
                %td= @task.status
    %div.col-md-2
      %ul.nav.nav-stacks
        %li= link_to 'create article', writers_articles_new_path(:assigned_task_id => @task.id), :data => {:no_turbolink => 'true'}
        %li= link_to 'back', writers_assigned_tasks_path

