%h1 Articles
%div.content
  %table
    %thead
      %tr
        %th id
        %th content
        %th assigned task
    %tbody
      -@articles.each do |article|
        %tr
          %td= article.id
          %td= article.content
          %td= article.assigned_task
          %td= link_to 'show', :controller => 'articles', :action => 'show', :id => article.id
          %td= link_to 'delete', writers_articles_delete_path(:id => article[:id]), :method => :post
= link_to 'create article', writers_articles_new_path
