%h1 Articles
%div.content
  %table
    %thead
      %tr
        %th id
        %th content
        %th assigned task
    %tbody
      -@articles.each do |article|
        %tr
          %td= article.id
          %td= article.content
          -unless article.assigned_task.nil?
            %td= article.assigned_task.task.title
          -else
            %td 
          %td= link_to 'show', writers_articles_show_path(:id => article.id)
          %td= link_to 'delete', writers_articles_delete_path(:id => article[:id]), :method => :post
= link_to 'Tasks', writers_assigned_tasks_path
= link_to 'create article', writers_articles_new_path
