%div.container
  %div.row
    %div.col-md-10
      %ul.nav.nav-tabs
        %li.active= link_to 'Articles', writers_articles_path
        %li= link_to 'Tasks', writers_assigned_tasks_path
      %h2 Articles
      %li.btn.btn-default.btn-lg= link_to 'create article', writers_articles_new_path, :data => {:no_turbolink => 'true'}
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th id
            %th content
            %th assigned task
        %tbody
          -@articles.each do |article|
            %tr
              %td= article.id
              %td= article.content
              -unless article.assigned_task.nil?
                %td= article.assigned_task.task.title
              -else
                %td 
              %td= link_to 'show', writers_articles_show_path(:id => article.id)
              %td= link_to 'delete', writers_articles_delete_path(:id => article[:id]), :method => :post
