:scss
  .active#tab1 {
      color: green;
      opacity: 0.8;
    }
  .active#tab2 {
      color: green;
      opacity: 0.8;
    }
  .active#tab1_content {
      display: block;
      padding: 20px 20px 20px 20px;
    }
  .active#tab2_content {
      display: block;
      padding: 20px 20px 20px 20px;
    }

  #tab1_content {
    display: none;
  }
  #tab2_content {
    display: none;
  }
  #tab1 {
    color: green;
    opacity: 0.5;
  }
  #tab2 {
    color: green;
    opacity: 0.5;
  }
 
.container.edit-article
  .row
    .col-md-10
      %ul.nav.nav-tabs
        %li
          %a.active#tab1.btn Articles
        %li
          %a#tab2.btn Tasks
      #tab1_content.active
        %li.btn.btn-default.btn-lg= link_to 'create article', writers_articles_new_path
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Title
              %th Due
              %th Status
              %th 詳細
              %th 削除
          %tbody
            -@articles.each do |article|
              %tr
                %td= article.title
                - if article.assigned_task.nil?
                  %td No Task
                - else 
                  %td= article.assigned_task.task.end_date.strftime("%m月%d日 %H:%M")
                %td= article.status_in_japanese
                %td= link_to 'show', writers_articles_show_path(:id => article.id)
                %td= link_to 'delete', writers_articles_delete_path(:id => article[:id]), :method => :post
      #tab2_content
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Title
              %th Due
              %th 本数
              %th 報酬
              %th 原稿数
              %th 詳細
          %tbody
            -@tasks.each do |task|
              %tr
                %td= task.title
                %td= task.end_date.strftime("%m月%d日 %H:%M")
                %td= task.number
                %td= task.reward
                %td= task.assigned_task.articles.count
                %td= link_to 'show', :controller => 'assigned_tasks', :action => 'show', :id => task[:id]
:coffee
  $("#tab1").click ->
    $("#tab1_content").addClass("active")
    $("#tab1").addClass("active")
    $("#tab2_content").removeClass("active")
    $("#tab2").removeClass("active")
  $("#tab2").click ->
    $("#tab2_content").addClass("active")
    $("#tab2").addClass("active")
    $("#tab1_content").removeClass("active")
    $("#tab1").removeClass("active")
