:scss
  .edit-article {
    .output-area {
      border-style: solid;
      height: 60rem;
      overflow: hidden;
    }
    .input-area {
      height: 60rem;
      width: 100%;
    }
    #title {
      font-size: 30px;
    }
  }


.container.edit-article
  .row
    = form_for @article, :url=> writers_articles_create_path do |a|
      .col-md-10
        - if @article.assigned_task_id.present?
          %h2= @article.task_title
          = a.hidden_field:assigned_task_id, :val=>@article.assigned_task_id
        - else
          = label :article, :title, :id => "title"
          = a.text_field:title, :autofocus => true, :s => '1'
        %h2 Content
        %ul.nav.nav-tabs
          %li.btn.btn-default.btab3{:tupe => "button"} Separate
          %li.btn.btn-default.btab1{:type => "button"} Article
          %li.btn.btn-default.btab2{:type => "button"} Preview
        .col-md-6.tab1
          = a.text_area:content,:autofocus => :true, :cols=>'70', :class=>'input-area'
        .col-md-6.output-area.tab2
          %p Result Area
        %input#tokens(style="display:none;" name="tokens")
      .col-md-2
        %ul.nav.nav-stacked
          %li.btn.btn-default#save= a.submit 'create'
          %li.btn.btn-default= link_to 'cancel', writers_articles_path
          %li.uploader
