:scss
  .edit-article {
    .output-area {
      border-style: inset;
      border-width: 1px;
      height: 60rem;
      overflow: hidden;
    }
    .input-area {
      height: 60rem;
      width: 100%;
    }
    #title {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 30px;
    }
    #article_title {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 20px;
      width: 500px;
      height: 40px;
      font-size: 30px;
    }
  }
  .active#tab1 {
      color: green;
      opacity: 0.8;
    }
  .active#tab2 {
      color: green;
      opacity: 0.8;
    }
  .active#tab3 {
      color: green;
      opacity: 0.8;
    }
  .active#tab1_content {
      display: block;
      width: 100%;
      padding: 0;
      overflow: hidden;
    }
  .active#tab2_content {
      display: block;
      width: 100%;
      overflow: hidden;
    }
  .separate#tab1_content {
      display: block;
      width: 50%;
      padding: 0;
      overflow: hidden;
    }
  .separate#tab2_content {
      display: block;
      width: 50%;
      padding: 0;
      overflow: hidden;
    }
  #tab1_content {
    display: none;
  }
  #tab2_content {
    display: none;
  }
  #tab1 {
    color: green;
    opacity: 0.5;
  }
  #tab2 {
    color: green;
    opacity: 0.5;
  }
  #tab3 {
    color: green;
    opacity: 0.5;
  }
  input[type="submit"] {
    border-style: none;
    background-color: rgba(10,10,10,0.0); 
    color: #428bca;
    height: 42px;
    width: 75px;
  }


.container.edit-article
  .row
    = form_for @article, :url=> writers_articles_create_path do |a|
      %ul.nav.nav-tabs
        %li.btn.btn-default#save= a.submit 'create'
        %li.btn.btn-default.link= link_to 'cancel', writers_articles_path
      .col-md-10
        - if @article.assigned_task_id.present?
          %h2= @article.task_title
          = a.hidden_field:assigned_task_id, :val=>@article.assigned_task_id
        - else
          = label :article, :title, :id => "title"
          = a.text_field:title, :autofocus => true, :s => '1'
        %ul.nav.nav-tabs
          %li.btn.btn-default.active#tab3{:tupe => "button"} Separate
          %li.btn.btn-default#tab1{:type => "button"} Article
          %li.btn.btn-default#tab2{:type => "button"} Preview
        .col-md-6#tab1_content.separate
          = a.text_area:content,:autofocus => :true, :cols=>'70', :class=>'input-area'
        .col-md-6.output-area#tab2_content.separate
          %p Result Area
        %input#tokens(style="display:none;" name="tokens")
      .col-md-2
        .uploader

:coffee
  change_tab = (name) ->
    $("#tab1_content, #tab2_content").removeClass("active")
    $("#tab1_content, #tab2_content").removeClass("separate")
    $("#tab1, #tab2, #tab3").removeClass("active")
    $(name).addClass("active")

  $ ->
    $("#tab1").click ->
      change_tab ("#tab1_content")
      $("#tab1").addClass("active")
    $("#tab2").click ->
      change_tab("#tab2_content")
      $("#tab2").addClass("active")
    $("#tab3").click ->
      $("#tab1, #tab2").removeClass("active")
      $(this).addClass("active")
      $("#tab1_content, #tab2_content").addClass("separate")
