%h1 Ass;gnedTasks
%div.content
  %table
    %thead
      %tr
        %th id
        %th title
        %th description
        %th start
        %th end
        %th number
        %th reward
    %tbody
      -@tasks.each do |task|
        %tr
          %td= task.id
          %td= task.title
          %td= task.description
          %td= task.start_date
          %td= task.end_date
          %td= task.number
          %td= task.reward
          %td= link_to 'show', editors_tasks_show_path(:id => task[:id])
          %td= link_to 'unassign', editors_assigned_tasks_unassign_path(:id => task[:id]), :method => :post
= link_to 'tasks list', editors_tasks_path
