:scss
  .edit-task {
    padding-top: 5rem;
    padding-bottom: 5rem;
    #task_title {
      width: 500px;
      height: 6rem;
    }
    .output-area {
      border-style: solid;
      height: 21rem;
      width: 440px;
    }
    .input-area {
      height: 20rem;
      width: 440px;
    }
    .btns {
      padding-top: 2rem;
    }
  }

.container
  .row
    = form_for @task, :url=>editors_tasks_update_path(:id=>@task[:id]) do |t|
      .col-md-8
        %table.table.table-striped.table-bordered
          %tr
            %td Title
            %td= t.text_field:title
            %br
          %tr
            %td Description
            %td= t.text_area:description
            %br
          %tr
            %td StartDate
            %td= t.date_select:start_date
            %br
          %tr
            %td EndDate
            %td= t.date_select:end_date
            %br
          %tr
            %td Reward
            %td= t.number_field:reward
            %br
          %tr
            %td Number
            %td= t.number_field:number
            %br
      %div.col-md-2
        %ul.nav.nav-stacked
          %li= t.submit 'update', :id => @task[:id]
          %li= link_to 'cancel', '/editors/tasks'


