%h1 EditorTasks
%div.content
  %h2 UnassignedTasks 
  %table
    %thead
      %tr
        %th id
        %th title
        %th description
        %th start
        %th end
        %th number
        %th reward
    %tbody
      -@unasssigned_tasks.each do |task|
        %tr
          %td= task.id
          %td= task.title
          %td= task.description
          %td= task.start_date
          %td= task.end_date
          %td= task.number
          %td= task.reward
          %td= task.status
          %td= link_to 'show', :controller => 'tasks', :action => 'show', :id => task[:id]
          %td= link_to 'assign', :controller => 'tasks', :action => 'assign', :id => task[:id]
  %h2  AssignedTasks
  %table
    %thead
      %tr
        %th id
        %th title
        %th description
        %th start
        %th end
        %th number
        %th reward
    %tbody
      -@assigned_tasks.each do |task|
        %tr
          %td= task[:id]
          %td= task[:title]
          %td= task[:description]
          %td= task[:start_date]
          %td= task[:end_date]
          %td= task[:number]
          %td= task[:reward]
          %td= task[:status]
          %td= link_to 'show', :controller => 'tasks', :action => 'show', :id => task[:id]
          %td= link_to 'unassign', editors_tasks_unassign_path(:id => task[:id]), :method => :post
= link_to 'create', :controller => 'tasks', :action => 'new'
