%div.content
%h1 Deleted Tasks
%table
  %thead
    %tr
      %th id
      %th title
      %th description
      %th start
      %th end
      %th number
      %th reward
  %tbody
    -@tasks.each do |task|
      %tr
        %td= task[:id]
        %td= task[:title]
        %td= task[:description]
        %td= task[:start_date]
        %td= task[:end_date]
        %td= task[:number]
        %td= task[:reward]
        %td= link_to 'show', :controller => 'tasks', :action => 'show', :id => task[:id]
        %td= link_to 'delete', :controller => 'tasks', :action => 'delete', :task=>task
= link_to "create new task", publishers_tasks_new_path
= link_to "Tasks", publishers_tasks_path
