%div.container
  %div.row
    = form_for @task, :url=>{:action => 'update', :controller => 'tasks', :id => @task[:id]}  do |t|
      %div.col-md-8
        %table.table.table-striped.table-bordered
          %tr
            %td Title
            %td= t.text_field:title
            %br
          %tr
            %td Description
            %td= t.text_area:description,:cols=>'30', :rows=>'5'
            %br
          %tr
            %td StartDate
            %td= t.date_select:start_date
            %br
          %tr
            %td EndDate
            %td= t.date_select:end_date
            %br
          %tr
            %td Reward
            %td= t.number_field:reward
            %br
          %tr
            %td Number
            %td= t.number_field:number
            %br
      %div.col-md-2
        %ul.nav.nav-stacked
          %li.btn= t.submit 'update', :id => @task[:id]
          %li.btn= link_to 'cancel', '/publishers/tasks'

