:scss
  .edit-task {
    padding-top: 5rem;
    padding-bottom: 5rem;
    #task_title {
      width: 500px;
      height: 6rem;
    }
    .output-area {
      border-style: solid;
      height: 21rem;
      width: 440px;
    }
    .input-area {
      height: 20rem;
      width: 440px;
    }
    .btns {
      padding-top: 2rem;
    }
  }

%div.container.edit-task
  %div.row
    = form_for @task, :url=>{:action => 'create', :controller => 'tasks'}  do |t|
      %div.col-md-10
        %h2 Title
        %br
        = t.text_field:title
        %br
        %h2 Description
        %div.col-md-6
          = t.text_area:description, :cols=>'30', :rows=>'5',:class=>'input-area'
        %div.output-area.col-md-6
          %p Result Area
        %h3 StartDate
        = t.date_select:start_date
        %br
        %h3 EndDate
        = t.date_select:end_date
        %br
        %h3 Reward
        %td= t.number_field:reward
        %h3 Number
        = t.number_field:number
        %br
        %ul.btns
          %li.btn.btn-lg= t.submit 'create'
          %li.btn.btn-lg= link_to 'cancel', '/publishers/tasks'


