%h1= @task[:title]
%table
  %body
    - @task.attribute_names.each do |key|
      %tr
        %td= key
        - if key != "status"
          %td= @task[key] 
        - else 
          %td= @task.status
- if @task.assigned?
  %p= @task.who_assigned
= link_to 'back', '/publishers/tasks'
= link_to 'edit', :controller => 'tasks', :action => 'edit', :id => @task[:id]
= link_to 'delete', publishers_tasks_delete_path(:id => @task[:id]), :method => :post
